

*, ::after, ::before {
  box-sizing: border-box;
}
   
  // font
  html,
  body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    // Adaptative height of main content
    height: 100%;
  }
   
  html {
    font-size: $base-font-size;
  }
  
   
  // Adaptative height of main content
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
   
  main {
    flex-grow: 1;
  }
   
  p{
    margin-bottom: 30px;
    line-height: normal;
  }
   
  
  